body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Disable horizontal scrolling */
}

#stars, #gradient, #radial-gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#stars {
    z-index: -4;
    background-image: url('https://raw.githubusercontent.com/VaporFlush/Website/main/Stars.png');
    background-repeat: repeat;
    background-size: 10%;
    animation: scrollBackground 60s linear infinite;
}

#gradient {
    z-index: -5;
    background-image: linear-gradient(to bottom, #0d47a1, #1565c0);
}

#radial-gradient {
    z-index: -3;
    background-image: radial-gradient(circle, rgba(13, 71, 161, 0) 0%, rgba(13, 71, 161, 0.8) 100%);
}

@keyframes scrollBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0%;
    }
}

#stripe-container {
    position: fixed;
    z-index: -2;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 15%;
    min-height: 240px;
    background-color: rgb(255, 255, 255);
   clip-path: polygon(
        0% 5%, 5% 0%, 10% 5%, 
        15% 0%, 20% 5%, 25% 0%, 
        30% 5%, 35% 0%, 40% 5%, 
        45% 0%, 50% 5%, 55% 0%, 
        60% 5%, 65% 0%, 70% 5%, 
        75% 0%, 80% 5%, 85% 0%, 
        90% 5%, 95% 0%, 100% 5%, 
        100% 100%, 0% 100%
    );
    overflow-x: hidden;
    overflow-y: hidden;
}

#stripe-pattern {
    height: 100%;
    width: 100%;
    background-size: 18px 18px;
    background-image: linear-gradient(
        -45deg,
        rgb(255, 255, 255) 25%,
        rgb(225, 225, 225) 25%,
        rgb(225, 225, 225) 50%,
        rgb(255, 255, 255) 50%,
        rgb(255, 255, 255) 75%,
        rgb(225, 225, 225) 75%,
        rgb(225, 225, 225) 100%
    );
    box-shadow: inset 0rem 0.5rem 2rem 0.25rem rgba(0, 0, 0, 0.4);
    animation: scrollBackground 120s linear infinite;
}

@font-face {
    font-family: 'BlockFont'; /* Choose a name for your font family */
    src: url('BlockFont.otf') format('opentype'); /* Specify the path to your font file */
    /* You may also need to include additional font formats for better browser compatibility */
}

/* Add this CSS to center the title */
#title-section {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    height: 25%; /* Makes the title section take up the full height of the viewport */
    padding-top: 20px;
}

/* Style the title text */
#title-section h1 {
    font-family: 'BlockFont', sans-serif;
    font-size: 48px; /* Adjusting the font size */
    color: white; /* Set the text color */
    text-align: center; /* Center-align the text */
    margin: 0; /* Remove default margin */
    padding: 20px; /* Add padding for better spacing */
    text-shadow: 2px 2px 4px rgba(1, 1, 1, 0.5); /* Adding a subtle text shadow for depth */
}

/* Project List */
.project-list {
    display: flex;
    flex-direction: column; /* Set the direction to vertical */
}

/* Project Container */
.project-container {
    width: 50%; /* Adjust the percentage width as needed */
    margin: 0 auto 20px; /* Center the container horizontally and add bottom margin */
    background-color: #dddddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Add this line to make the project container positioned relative */
    z-index: 5;
}

/* Project Image */
.project-image {
    width: 50%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    border-top-left-radius: 8px; /* Adjust border radius */
    border-top-right-radius: 8px; /* Adjust border radius */
}

/* Project Details */
.project-details {
    padding: 20px;
}

/* Project Title */
.project-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

/* Project Description */
.project-description {
    font-size: 16px;
    color: #666;
}

/* Top Bar */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    z-index: 1;
}

.about-button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 5%;
}

.about-button:hover {
    background-color: #ddd;
}

/* Info Box */
.info-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999; /* Ensure it's above other content */
}

.info-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.close-button:hover {
    color: #ff0000; /* Change color on hover if desired */
}

/* Rest of your existing styles go here */

